# Byte-compiled / optimized / DLL files
*.elc

# Distribution / packaging
*.tar
dist/

# Emacs temp files
*~
\#*\#
.\#*

# Emacs auto-save files
.#*

# Emacs backup files
*~

# flycheck temp files
flycheck_*.el

# projectile temp files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Nix
result
result-*
.direnv/ 